<h2>Game temlate is working!</h2>

<input type="text" [(ngModel)]="searchText" (change)="changeHandler($event)">

<p>Searched Text: {{searchText}}</p>

<ul #gameContainer>
    <li *ngFor="let game of games">
        Game: {{game?.title}}

        <span [class.game-price]="isTrue" *ngIf="game.price > 10">
            Price: {{game.price}}
        </span>

        <span>
            <img [src]="game.img" alt="imgUrl">
        </span>
    </li>
</ul>

<div>
    Total: {{gameContainer.children.length}}
</div>

<button (click)="clickHandler()">
    {{isTrue ? 'Make black' : 'Make green'}}
</button>