<header>
    <nav>
        <section class="logo">
            <img src="./assets/images/logo.png" alt="logo">
        </section>
        <ul>
            <!--Users and Guest-->
            <li><a routerLink="/home">Home</a></li>
            <li><a routerLink="/dashboard">Dashboard</a></li>
            <!--Only Guest-->
            <li><a routerLink="/login">Login</a></li>
            <li><a routerLink="/register">Register</a></li>
            <!--Only Users-->
            <li><a routerLink="/create">Create Postcard</a></li>
            <li><a routerLink="/logout">Logout</a></li>
        </ul>
    </nav>
</header>